body {
	margin: 0;
	padding: 0;
}

* {
	font-family: popins;
}

.nav-bar {
	background-color: #333;
	color: white;
	padding: 1em;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navbar-brand {
	font-size: 1.5em;
	text-decoration: none;
	color: white;
}

.navbar-brand:hover {
	color: white;
	text-transform: capitalize;
}

.navbar-toggle {
	font-size: 1.5em;
	cursor: pointer;
	display: none;
}

.navbar-nav {
	list-style: none;
	display: flex;
}

.navbar-nav li {
	margin-right: 20px;
}

.navbar-nav a {
	text-decoration: none;
	color: white;
}

.alert {
	width: 100%;
	padding: 10px;
	margin-bottom: 5px;
	border: 1px solid transparent;
	border-radius: 4px;
}

.alert-info {
	background-color: #d9edf7;
	border-color: #bce8f1;
	color: #31708f;
}

.carousel {
	width: 100% !important;
	height: auto;
}

.carousel .item {
	padding-top: 2px;
	height: 300px;
	align-items: center;
}

.item img {
	position: absolute;
	top: 0;
	left: 0;
	min-height: 300px;
}

.carousel-caption {
	background: rgba(0, 0, 0, 0.35);
}

.quick-meals-list {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.quick-meal {
	margin: 5px;
	max-width: 250px;
	box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
	background-color: #ffffff;
	cursor: pointer;
}

.quick-meal:hover {
	transform: translateY(-10px);
	transition: all ease 0.3s;
}

.quick-meal img {
	width: 100%;
	height: 250px;
	border-radius: 5px;
}

.meal-details {
	padding: 10px;
}

.meal-details .description {
	font-weight: bold;
}

.rating i {
	padding-top: 5px;
	color: #f9d71c;
}

.group-members-section {
	max-width: 1200px;
	margin: 0 auto;
	padding: 20px;
}

.group-members-list {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	gap: 20px;
}

.group-member {
	border: 1px solid #ddd;
	padding: 15px;
	text-align: center;

}

.member-info {
	margin-top: 15px;
}

.footer {
	background-color: #333;
	color: #fff;
	text-align: center;
	position: fixed;
	bottom: 0;
	width: 100%;
}

.sidebar {
	width: 50%;
	background-color: #f1f1f1;
	padding: 20px;
}

.main-content {
	flex: 1;
	padding: 20px;
}

.content-item {
	border: 1px solid #ddd;
	margin-bottom: 20px;
	padding: 10px;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
	box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
}

.content-item:hover {
	transform: translateY(-10px);
	transition: all ease 0.3s;
}

.title {
	display: flex;
}

.sidebar label {
	display: block;
	margin-bottom: 10px;
	font-weight: 200;
}

.content-item img {
	width: 300px;
	height: auto;
	display: block;
	margin-right: 0;
	border-radius: 5px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.content-item .text {
	flex: 1;
	margin-top: 10px;
}

.text .address {
	color: #3d3d3d;
	font-size: 1.5rem;
	letter-spacing: 0.5px;
}

.content-text {
	display: flex;
	align-items: center;
}

.title {
	display: flex;
}


.content-item h3,
.content-item p {
	margin: 0;
}

.suggest-wrapper {
	padding-top: 10px;
}

.suggest-wrapper h2 {
	padding-bottom: 10px;
}

header {
	text-align: center;
	padding: 20px 0;
}

.faq-container {
	max-width: 100%;
	margin: 20px auto;
}

.faq-item {
	border: 1px solid #ddd;
	margin-bottom: 10px;
	padding: 15px;
	background-color: #fff;
	border-radius: 5px;
}

.question {
	color: #333;
	margin-bottom: 10px;
	cursor: pointer;
}

.answer {
	color: #666;
}

.arrow {
	float: right;
	font-size: small;
	color: #31708f;
}

.hidden {
	display: none;
}

.dbox p {
	margin-bottom: 0;
}

.dbox p span {
	font-weight: 500;
	color: #000;
}

.dbox p a {
	color: #2553b8;
}

.dbox .icon {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background: #2553b8;
	margin: 0 auto;
	margin-bottom: 20px;
}

.dbox .icon span {
	font-size: 20px;
	color: #fff;
}

.dbox .text {
	width: 100%;
}

.d-flex {
	display: -webkit-box !important;
	display: -ms-flexbox !important;
	display: flex !important;
}

.align-items-center {
	-webkit-box-align: center !important;
	-ms-flex-align: center !important;
	align-items: center !important;
}

.justify-content-center {
	-webkit-box-pack: center !important;
	-ms-flex-pack: center !important;
	justify-content: center !important;
}

.content-box-container {
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	width: 100%;
	margin-bottom: 50px;
}

.content-box-container h2 {
	padding: 0 auto;
	text-align: center;
}

.content-box {
	display: flex;
	width: 800px;
	box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
	background-color: #ffffff;
	padding: 20px;
	margin: 15px;
	cursor: pointer;
}

.profile-img {
	width: 300px;
	height: auto;
	overflow: hidden;
	margin-right: 10px;
}

.profile-img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.content-profile {
	display: flex;

}

.title-location {
	display: flex;
	flex-direction: column;
}

.title-location strong {
	color: #3d3d3d;

}

.title-location span {
	color: #979797;

}

.content-box {
	margin-bottom: auto;
}

.content-content p {

	color: #4b4b4b;
}

.content-box:hover {
	transform: translateY(-10px);
	transition: all ease 0.3s;
}

.person:hover {
	transform: translateY(-10px);
	transition: all ease 0.3s;
	box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
	background-color: #ffffff;

	cursor: pointer;
}

.person {
	padding: 20px;
	;
}

.person img {

	align-items: center;
}

.title-rating {
	display: flex;
	justify-content: space-between;
}

.person .member {
	text-align: center;
}

.member img {
	display: block;
	margin: auto;
	width: 200px;
	height: 200px;
}

@media (max-width: 768px) {
	.navbar-nav {
		display: none;
		flex-direction: column;
		position: absolute;
		top: 60px;
		left: 0;
		width: 100%;
		background-color: #333;
		z-index: 1;
		margin-top: 95px;
	}

	.navbar-nav.show {
		display: flex;
	}

	.navbar-nav li {
		margin: 10px;
	}

	.navbar-toggle {
		display: block;
	}

	.content-box {
		width: 100%;
	}

	.group-members-list {
		grid-template-columns: 1fr;
	}

	.container {
		flex-direction: column;
	}

	.sidebar {
		width: 100%;
	}
}

@media(max-width:1060px) {
	.content-box {
		width: 100%;
		padding: 10px;
		display: block;
	}
}

@media(max-width:340px) {
	.box-top {
		flex-wrap: wrap;
		margin-bottom: 10px;
	}

	.reviews {
		margin-top: 10px;
	}
}

/* @media (max-width: 768px) {
	.group-members-list {
		grid-template-columns: 1fr;
	}
} */

@media only screen and (min-width: 769px) {
	.content-item {
		flex-direction: row;
		align-items: flex-start;
		/* Display content side by side on larger screens */
	}

	.content-item img {
		margin-right: 10px;
	}

	.content-item .text {
		margin-top: 0;
	}
}

/* @media only screen and (max-width:769px) {
	.container {
		flex-direction: column;
	}

	.sidebar {
		width: 100%;
	}
} */
